---
layout: nil
---

/*
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */

/*
 * -----------------------------------------------------------------------------
 * Ortak
 * -----------------------------------------------------------------------------
 */

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-image:url(http://templates.arcsin.se/demo/grunge-superstar-website-template/img/body.jpg);
  margin-top: 1.0em;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1 {
  font-size: 110%;
}

h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*
 * -----------------------------------------------------------------------------
 * Kök
 * -----------------------------------------------------------------------------
 */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*
 * -----------------------------------------------------------------------------
 * Site
 * -----------------------------------------------------------------------------
 */

.site {
  background-color: white;
  font-size: 110%;
  text-align: justify;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius:0.4em 0.4em 0.4em 0.4em;
  border:1px solid #bebebe;
  padding: 2em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 6em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title >span.navigator {
    font-family: monospace;
    font-size: large;
    word-spacing: 0.4em;
    margin-left: 2em;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title span.navigator >span.selflink {
    color: #bbb;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*
 * -----------------------------------------------------------------------------
 * Gönderiler
 * -----------------------------------------------------------------------------
 */

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

#logo {
  display:block;
  position: relative;
  float: right;
  vertical-align: top;
  width: 128px;
  height: 128px;
}

/*
 * -----------------------------------------------------------------------------
 * Navigasyon
 * -----------------------------------------------------------------------------
 */

/* top */
#navtop {
  background-image:url('http://00010011.github.com/assets/huruf/slashstar-grey-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}

/* navactive sections */
#navactive0 {
  background-image:url('http://00010011.github.com/assets/huruf/0-red-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navactive1 {
  background-image:url('http://00010011.github.com/assets/huruf/1-red-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navactive2 {
  background-image:url('http://00010011.github.com/assets/huruf/2-red-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navactive7 {
  background-image:url('http://00010011.github.com/assets/huruf/7-red-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navactive9 {
  background-image:url('http://00010011.github.com/assets/huruf/9-red-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}

/* navinactive sections */
#navinactive0 {
  background-image:url('http://00010011.github.com/assets/huruf/0-grey-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navinactive1 {
  background-image:url('http://00010011.github.com/assets/huruf/1-grey-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navinactive2 {
  background-image:url('http://00010011.github.com/assets/huruf/2-grey-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navinactive7 {
  background-image:url('http://00010011.github.com/assets/huruf/7-grey-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}
#navinactive9 {
  background-image:url('http://00010011.github.com/assets/huruf/9-grey-32.png');
  display:inline-block;
  width: 32px;
  height: 32px;
}

/*
 * -----------------------------------------------------------------------------
 * GitHub Şeriti
 *
 * Kaynaklar:
 * http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/
 * -----------------------------------------------------------------------------
 */

.ribbon {
  background-color: #9c0000;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #e0b0b0;
  -webkit-box-shadow: 0 0 1em #e0b0b0;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

/* DISQUS style */
.dsq-by { display: none !important; }
.dsq-dc-logo { display: none !important; }
.dsq-logo-dropdown { display: none !important; }

