---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */


body {
background-image:url("http://templates.arcsin.se/demo/grunge-superstar-website-template/img/body.jpg");
background-repeat: repeat ;
}
