---
layout: nil
---

/*
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */

html {
background-image:url('body.jpg');
}

body {
background-image:url('body.jpg')
}
